.conatiner-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr); // Tres columnas de igual ancho
    gap: 16px; // Espacio entre las columnas y filas (opcional)
    padding: 16px; // Espaciado interno del contenedor (opcional)
}

.v-card {
    display: flex;
    flex-direction: column;
}

.container-info-card {
    height: 100%;
    align-items: end;
    padding-bottom: 5px;
}

.v-skeleton-loader{
    width: 100%;
    height: 100%;
}

@media (max-width: 1920px) {
    .conatiner-card {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1280px) {
    .conatiner-card {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width: 1020px) {
    .conatiner-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .conatiner-card {
        grid-template-columns: repeat(1, 1fr);
    }
}